* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*nav bar color change*/
.sticky {
    background: #CAD3C8;
}

.sticky_color{
    font-size: 50px;
    color: black!important;
}

/*main section aligenment*/
main {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px solid green;
}

/*main section bottom border*/
body > main > section {
    /*border-bottom: 1px solid black;*/
}


/*normal button style*/
.button {
    margin: 7px;
    padding: 10px 10px 10px;
    width: 150px;
    outline: none;
    font-weight: bold;
    border-color: #000000;
}

/*header section styling*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/*navigation bar styling start*/
.nav_bar {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    transition: .2s;
}

.logo > h3 > a > span {
    color: #ff253a;
}

.navbar_Items > ul > li {
    text-decoration: none;
    display: inline;
    margin-right: 5px;
}

.navbar_Items > ul > li > a:hover {
    color: #ff253a;
}

.nav_bar a {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

/*hamberger styling*/
#menuToggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;

}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -4px;
    left: -3px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 15; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #75b65f;
    border-radius: 3px;

    z-index: 10;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {

    width: 100%;
    height: 100%;
    padding-top: 125px;
    padding-right: -150px;
    padding-left: 50px;
    padding-bottom: 1px;
    margin: -50px -250px 0 -50px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    z-index: 9;
    position: fixed;
    right: 250px;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.45, 0.25, 0.60, 0.95);

}

#menu li {
    padding-top: 10px;
    padding-right: 0;
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*main image section style start*/
.main_image_section {
    background: url("../images/Portfolio background.jpeg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image_detail {
    margin-left: 8%;
    font-size: 20px;
}

.image_detail > h1 {
    margin: 10px;
}

.image_detail > h1:nth-child(3) > span {
    color: red;
    font-size: 42px;
}

.image_detail > button {
    transition: .8s;
    border-radius: 30px;
}

.image_detail > button:hover {
    background: #ff253a;
    border-color: #ff253a;
    color: white;
    /*transition-duration: 0.4s;*/
    box-shadow: 0 0 5px 3px #000000;
    transform: scale(1.1);
}

.image_detail > button > a {
    text-decoration: none;
    color: black;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*About section start*/

.about_section > h1 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.about_details_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_image_container {
    position: relative;
    width: 100%;
    height: 537px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_image_box {
    /*width: 450px;*/
    width: 100%;
    height: 447px;
    position: absolute;
    /*border: 1px solid black;*/
}

.border_line {
    border: 10px solid black;
    position: absolute;
    left: 0;
    right: 50px;
    bottom: 0;
    top: 50px;
}

.about_image {
    background: url("../images/about image.jpeg") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 50px;
    right: 0;
    left: 50px;
}

.about_details {
    position: relative;
    width: 100%;
    /*height: 537px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}

.about_para {
    font-size: 24px;
    /*border: 1px solid black;*/
}

.about_para > button {
    margin: 10px;
    padding: 15px;
    background: #ff253a;
    border-color: #ff253a;
    /*outline: none;*/
    width: max-content;
}

.about_para > button > a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px black;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/


/*service section start*/
.service_section > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

.service_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.service_item_container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service {
    position: relative;
    width: 300px;
    height: 100%;
    border-radius: 15px;
    border: 1px solid black;
    transition-duration: 0.4s;
}

.service:hover {
    box-shadow: 1px 1px 8px 5px #000000;
    transform: scale(1.1);
}

.service > div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 7px;
    background: url("../images/Portfolio background.jpeg") no-repeat;
    background-size: cover;
    height: 50%;
}

.service > h3 {
    margin: 2px 2px 2px 6px;
}

.service > p {
    margin: 6px;
}

.service > button {
    width: 120px;
    height: 37px;
    position: absolute;
    right: 15px;
    bottom: 8px;
    /*float: right;*/
    /*margin: 5px 23px 5px 5px;*/
    border-radius: 30px;
    background: #ff253a;
    border-color: #ff253a;
    outline: none;
}

.service > button > a {
    text-decoration: none;
    color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/


/*skill section start*/
.skill_section > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

.skill_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.skill {
    width: 260px;
    height: 260px;
    border: 1px solid black;
    transition-duration: 0.5s;
    margin: 5px;
}

.skill:hover {
    box-shadow: 1px 1px 8px 5px #000000;
    transform: scale(1.1);
}

.skill > h2, h3 {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.skill > div {
    /*background: url("../images/Portfolio background.jpeg") no-repeat;*/
    background-size: cover;
    height: 60%;
    width: 100%;
    margin-bottom: 20px;
}

.java > div {
    background-size: contain;
    background: url("../images/skill images/java.jpg") no-repeat center;
}

.hibernate > div {
    background: url("../images/skill images/hibernate_logo.gif") no-repeat center;
    background-size: contain;
}

.mysql > div {
    background: url("../images/skill images/mysql.jpg") no-repeat center;
    background-size: contain;
}

.html > div {
    background: url("../images/skill images/html.jpg") no-repeat center;
    background-size: contain;
}

.css > div {
    background: url("../images/skill images/css.jpg") no-repeat center;
    background-size: contain;
}

.js > div {
    background: url("../images/skill images/javascript-logo.png") no-repeat center;
    background-size: contain;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*myProject section start*/
.myProject_section > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

.myProject_section > h3 {
    font-size: 23px;
    padding-left: 20px;
}

.project_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 25px;
    flex-wrap: wrap;
}

.myProject {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    transition-duration: 0.4s;
    margin: 10px;
}

.myProject > h1 {
    padding: 5px;
    margin: 0;
}

.myProject > p {
    padding: 7px;
}

.myProject > div {
    position: relative;
    height: 50%;
    border: 1px solid black;
    margin: 10px;
    background: url("../images/project images/5fa3c4b558904.jpg");
}

.myProject:hover {
    box-shadow: 1px 1px 8px 5px #000000;
    transform: scale(1.1);
    border-radius: 15px;
}

.myProject:hover .read_more {
    opacity: 1;
    transition-duration: 0.8s;
}

.read_more {
    position: relative;
    left: 45%;
    top: 73%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: left;
    width: 130px;
    height: 30px;
    background: rgba(255, 255, 255, 0.80);
    border: 1px solid #CAD3C8;
    transition: 0.4s;
    opacity: 1;
}

.read_more > a {
    color: black;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*contactMe section start*/
.contact_me_section > h1 {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.get_in_touch {
    width: 100%;
}

.get_in_touch > h1 {
    padding-left: 2%;
    font-size: 25px;
}

.personalInFo {
    /*display: inline-block;*/
    border: 1px solid black;
    margin: 23px;
    display: flex;
    /*width: 350px;*/
    width: 90%;
}

.personalInFo > div:nth-child(1) {
    width: 48px;
    height: 48px;
}

.name > div:nth-child(1) {
    background: url("../images/other icons/user-48.png") no-repeat;
    background-size: cover;
}

.address > div:nth-child(1) {
    background: url("../images/other icons/icons8-user-location-44.png") no-repeat;
    background-size: cover;
}

.email > div:nth-child(1) {
    background: url("../images/other icons/icons8-email-44.png") no-repeat;
    background-size: cover;
}

.section_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.message_me {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

.message_me > input {
    height: 50px;
    width: 350px;
    margin: 10px 15px 10px 0;
}

#name, #email, #subject, #message {
    width: 97%;
}

.message_me > button {
    height: 48px;
    width: 150px;
    background: #ff253a;
}

.message_me > button > a {
    text-decoration: none;
    color: white;
}

.social_media_icons {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.social_media_icons > div > a > img {
    width: 60px;
    height: 60px;
}

.social_media_icons_container > h1 {
    font-weight: bold;
    padding-left: 20px;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*footer section start*/

footer {
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>h2{
    text-align: center;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*responsive part start*/

@media (max-width: 576px) {
    .navbar_Items {
        visibility: hidden;
    }

    .about_image_container {
        width: 100%;
    }

    .about_details {
        width: 100%;
    }


    .get_in_touch {
        width: 100%;
    }

    footer > h2 {
        font-size: 15px;
    }
}

@media (min-width: 576px) {
    body > main {
        width: 540px;
    }

    #menuToggle {
        display: none;
    }

    .about_details {
        height: 640px;
    }

    .about_para {
        position: absolute;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        font-size: 24px;
        /*border: 1px solid black;*/
    }

    .about_image_box {
        width: 450px;
    }

    .myProject {
        width: 245px;
    }

    .project_container {
        margin: 0;
    }

    .read_more {
        left: 31%;
    }

    .message_me {
        width: 100%;
    }
}

@media (min-width: 768px) {
    body > main {
        width: 720px;
    }

    .about_details {
        height: 537px;
    }

    .skill {
        width: 220px;
        height: 260px;
    }

    .myProject:hover .read_more {
        opacity: 1;
        transition-duration: 0.8s;
    }

    .read_more {
        opacity: 0;
    }

    .myProject {
        width: 300px;
    }

    .project_container {
        margin: 30px 25px;
    }

    .read_more {
        left: 45%;
    }
}

@media (min-width: 992px) {
    body > main {
        width: 960px;
    }

    .about_image_container {
        width: 45%;
    }

    .about_details {
        width: 54%;
    }

    .about_image_box {
        width: 410px;
    }

    .about_para {
        font-size: 20px;
    }

    .service_item_container {
        margin-top: 0;
    }

    .skill {
        width: 260px;
        height: 260px;
    }

    .message_me {
        width: 55%;
    }

    .get_in_touch {
        width: 40%;
    }

    #name, #email {
        width: 243px;
    }
}

@media (min-width: 1200px) {
    body > main {
        width: 1140px;
    }

    .about_para {
        font-size: 22px;
    }

    #name, #email {
        width: 291px;
    }
}

@media (min-width: 1400px) {
    body > main {
        width: 1320px;
    }

    #name, #email {
        width: 340px;
    }
}